<div class='box'>
  <div class='box-header'>
    <h3 class="box-title">产品列表</h3>
  </div>
  <div class='box-body'>
    <div class="row">
      <div class="col-xs-offset-10"><a href="#/products/new" class="btn btn-primary">新建</a></div>
    </div>
    <table class='table table-bordered table-hover'>
      <thead>
        <tr>
          <th>名称</th>
          <th>单价</th>
          <th>数量</th>
          <th>总额</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |m|}}
        <tr>
          <td>{{m.name}}</td>
          <td>{{m.price}}</td>
          <td>{{m.amount}}</td>
          <td>{{product-total m.price m.amount}}</td>
          <td><a href="#/products/{{m.id}}">查看</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>